a {
    color: #FFCCCC;
    text-decoration: none;
    font-weight:bold;
}
a:hover {
    color: #d8a460;
}

header {
    border: #FFCCCC;
    margin: 2px;
    padding: 6px;
}
main {
    border: 5px solid #FFCCCC;
    margin: 2px;
    padding: 6px;
}
footer {
    border: #FFCCCC;
    margin: 2px;
    padding: 6px;
}
body {
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
    background-color: #395B5A;
}

h1 {
    color: rgb(195, 180, 248);
    font-family: Birthstone;
    font-size: 60px;
    font-weight: 100;
    margin-top: 0;
    margin-bottom: 0;

}

h4 {
    border: 2px dotted #FFCCCC
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav-display {
    display: inline; 
}

.page-title {
    margin: 0 auto;
    width: 40%;
}

.img-photo {
    border: 8px solid thistle;
    border-radius: 10%;
    background-color: #fcfcfc;
    padding: 4px;
}
